
name: Build
on:
  schedule:
    - cron: "21 21 * * *"
  push:
    branches: ["main"]
  workflow_dispatch: # This line enables manual triggering

env:
  REGISTRY: ghcr.io
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}
  REGISTRY_USER: ${{ github.actor }}
  REGISTRY_PASSWORD: ${{ github.token }}

jobs:
  ubuntu-2404-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Build container image
        uses: redhat-actions/buildah-build@v2
        with:
          context: "ubuntu/24.04"
          containerfiles: "ubuntu/24.04/Containerfile"
          image: distrobox-ubuntu
          tags: "latest 24.04"
          layers: false
          oci: true

      - name: Push to ghcr.io
        uses: redhat-actions/push-to-registry@v2
        with:
          image: distrobox-ubuntu
          tags: "latest 24.04"
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
          extra-args: |
            --disable-content-trust
  debian-13-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Build container image
        uses: redhat-actions/buildah-build@v2
        with:
          context: "debian/13"
          containerfiles: "debian/13/Containerfile"
          image: distrobox-debian
          tags: "latest 13"
          layers: false
          oci: true

      - name: Push to ghcr.io
        uses: redhat-actions/push-to-registry@v2
        with:
          image: distrobox-debian
          tags: "latest 13"
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
          extra-args: |
            --disable-content-trust
